@charset "utf-8";
/* CSS Document*/

/* ------------------------------------------------------- *
 * 【iconG01】
 * ------------------------------------------------------- */

input.iconG01{
	border:0;
	padding:0;
	text-indent:-9999px;
	*text-indent:0;
	line-height:180px;
	overflow:hidden;
	cursor:pointer;
}
.iconG01_1{
	background-position:0 0;
	width:90px;
	height:22px;
}
.iconG01_2{
	background-position:-99px 0;
	width:90px;
	height:22px;
}
.iconG01_3{
	background-position:0 -30px;
	width:13px;
	height:10px;
}
.iconG01_4_1{
	background-position:-24px -30px;
	width:9px;
	height:5px;
}
.iconG01_4_2{
	background-position:-41px -30px;
	width:9px;
	height:5px;
}
.iconG01_4_3{
	background-position:-57px -30px;
	width:9px;
	height:5px;
}
.iconG01_4_4{
	background-position:-74px -30px;
	width:9px;
	height:5px;
}
.iconG01_5{
	background-position:-93px -30px;
	width:14px;
	height:14px;
}
.iconG01_6{
	background-position:-116px -30px;
	width:9px;
	height:14px;
}
.iconG01_7{
	background-position:-134px -30px;
	width:18px;
	height:16px;
}
.iconG01_8{
	background-position:-200px 0;
	width:89px;
	height:30px;
}
.iconG01_9{
	background-position:0 -54px;
	width:20px;
	height:16px;
}
.iconG01_10{
	background-position:-29px -54px;
	width:22px;
	height:20px;
}
/* ------------------------------------------------------- *
 * 【iconG02】
 * ------------------------------------------------------- */
.iconG02{
	display:inline-block;
	background:url(../images/iconG02.png) no-repeat;
	overflow:hidden;
	vertical-align:middle;
}
.iconG02_1_1{
	background-position:0 0;
	width:9px;
	height:9px;
}
.iconG02_1_2{
	background-position:0 -20px;
	width:9px;
	height:9px;
}
.iconG02_2_1{
	background-position:0 -40px;
	width:9px;
	height:9px;
}
.iconG02_2_2{
	background-position:0 -60px;
	width:9px;
	height:9px;
}
.iconG02_3_2{
	background-position:0 -80px;
	width:7px;
	height:8px;
}
.iconG02_3_1{
	background-position:0 -88px;
	width:7px;
	height:8px;
}
.iconG02_4{
	background-position:0 -108px;
	width:7px;
	height:4px;
}
/* ------------------------------------------------------- *
 * 【iconG04】
 * ------------------------------------------------------- */
.iconG04{
	display:inline-block;
	background:url(../images/iconG04.png) no-repeat;
	overflow:hidden;
	vertical-align:middle;
}
.iconG04_1{
	background-position:0 0;
	width:18px;
	height:16px;
}
.iconG04_2{
	background-position:0 -27px;
	width:16px;
	height:17px;
	cursor:pointer;
}
.iconG04_3{
	background-position:0 -55px;
	width:18px;
	height:17px;
	cursor:pointer;
}
.iconG04_4{
	background-position:0 -83px;
	width:10px;
	height:14px;
}
/* ------------------------------------------------------- *
 * 【iconG05】
 * ------------------------------------------------------- */
.iconG05{
	display:inline-block;
	background:url(../images/iconG05.jpg) no-repeat;
}
.iconG05_1{
	width:297px;
	height:25px;
	background-position:0 0;
}
.iconG05_2{
	width:48px;
	height:38px;
	background-position:0 -37px;
}
.iconG05_3{
	width:15px;
	height:15px;
	background-position:-65px -37px;
}
.iconG05_4{
	width:15px;
	height:15px;
	background-position:-89px -37px;
}
.iconG05_5{
	width:20px;
	height:19px;
	background-position:-115px -37px;
}
.iconG05_6{
	width:20px;
	height:25px;
}
.iconG05_6_1{background-position:-148px -37px;}
.iconG05_6_2{background-position:-178px -37px;}
.iconG05_6_3{background-position:-208px -37px;}
.iconG05_6_4{background-position:-238px -37px;}
.iconG05_7{
	width:79px;
	height:69px;
	background-position:0 -89px;
}
/* ------------------------------------------------------- *
 * 【iconG06】
 * ------------------------------------------------------- */
.iconG06{
	display:inline-block;
	background:url(../images/iconG06.png) no-repeat;
}
.iconG06_1{
	width:15px;
	height:13px;
	background-position:0 0;
}
.iconG06_2_1{
	width:12px;
	height:8px;
	background-position:-29px 0;
}
.iconG06_2_2{
	width:12px;
	height:8px;
	background-position:-29px -8px;
}
/* ------------------------------------------------------- *
 * 【iconG07】
 * ------------------------------------------------------- */
.iconG07{
	display:inline-block;
	background:url(../images/iconG07.png) no-repeat;
}
.iconG07_1{
	width:63px;
	height:62px;
	background-position:0 0;
}
.iconG07_2{
	width:63px;
	height:61px;
	background-position:-77px 0;
}
.iconG07_3{
	width:62px;
	height:62px;
	background-position:-161px 0;
}
.iconG07_4{
	width:67px;
	height:69px;
	background-position:-238px 0;
}
.iconG07_5{
	width:24px;
	height:24px;
	background-position:0 -90px;
}
.iconG07_6{
	width:27px;
	height:27px;
	background-position:-53px -90px;
}
.iconG07_7{
	width:30px;
	height:27px;
	background-position:-105px -90px;
}
.iconG07_8{
	width:24px;
	height:30px;
	background-position:-162px -90px;
}
.iconG07_9{
	width:25px;
	height:25px;
	background-position:-216px -90px;
}
.iconG07_10{
	width:18px;
	height:24px;
	background-position:-274px -90px;
}
.iconG07_11{
	width:11px;
	height:15px;
	background-position:0 -139px;
}
.iconG07_12{
	width:11px;
	height:15px;
	background-position:-33px -139px;
}
.iconG07_13{
	width:15px;
	height:15px;
	background-position:-65px -139px;
}
.iconG07_14{
	width:13px;
	height:15px;
	background-position:-99px -139px;
}
.iconG07_15{
	width:15px;
	height:13px;
	background-position:-132px -139px;
}
.iconG07_16{
	width:15px;
	height:15px;
	background-position:-165px -139px;
}
/* ------------------------------------------------------- *
 * 【iconG08】
 * ------------------------------------------------------- */
.iconG08{
	display:inline-block;
	background:url(../images/iconG08.jpg) no-repeat;
}
.iconG08_1{
	width:38px;
	height:38px;
	background-position:0 0;
}
.iconG08_2{
	width:38px;
	height:38px;
	background-position:-48px 0;
}
.iconG08_3{
	width:38px;
	height:38px;
	background-position:-96px 0;
}
.iconG08_4{
	width:38px;
	height:38px;
	background-position:-144px 0;
}
.iconG08_5{
	width:38px;
	height:38px;
	background-position:-192px 0;
}
.iconG08_6{
	width:38px;
	height:38px;
	background-position:-240px 0;
}
/* ------------------------------------------------------- *
 * 【iconG09】
 * ------------------------------------------------------- */
.iconG09{
	display:inline-block;
	background:url(../images/index/iconG09.png) no-repeat;
}
.iconG09_1{
	width:17px;
	height:69px;
	background-position:0 0;
}
.iconG09_2{
	width:16px;
	height:71px;
	background-position:-28px 0;
}
.iconG09_3{
	width:39px;
	height:39px;
	background-position:-58px 0;
}
/* ------------------------------------------------------- *
 * 【iconG10】
 * ------------------------------------------------------- */
.iconG10{
	display:inline-block;
	background:url(../images/index/iconG10.jpg) no-repeat;
}
.iconG10_1_1{
	width:40px;
	height:40px;
	background-position:0 0;
}
.iconG10_1_1{
	width:40px;
	height:40px;
	background-position:-42px 0;
}
.iconG10_2_1{
	width:40px;
	height:40px;
	background-position:0 -45px;
}
.iconG10_2_2{
	width:40px;
	height:40px;
	background-position:-42px -45px;
}
.iconG10_3_1{
	width:40px;
	height:40px;
	background-position:0 -84px;
}
.iconG10_3_2{
	width:40px;
	height:40px;
	background-position:-42px -84px;
}
.iconG10_4_1{
	width:40px;
	height:40px;
	background-position:0 -123px;
}
.iconG10_4_2{
	width:40px;
	height:40px;
	background-position:-42px -123px;
}
.iconG10_5_1{
	width:40px;
	height:40px;
	background-position:0 -162px;
}
.iconG10_5_2{
	width:40px;
	height:40px;
	background-position:-42px -162px;
}

