@charset "gb2312";
/* CSS Document */

@import url(../common.css);
@import url(../icons.css);

#content{
	margin:0 auto;
	width:984px;
	font-size:12px;
}
/* ------------------------------------------------------- *
 * head
 * ------------------------------------------------------- */
#head{
	margin:20px auto;
	width:984px;	
}
body.login #head{
	border-bottom:3px solid #cd2324;
}
#head strong{
	font-size:28px;
	color:#f15624;
}
/* ------------------------------------------------------- *
 * box
 * ------------------------------------------------------- */
.box{
	border:1px solid #D9D9D9;
}
.box .tbar{
	border-bottom:1px solid #D9D9D9;
	padding:10px;
	background-color:#F3F3F3;
}
.box .con{
	
}
.box .tbar label{
	
}
/* ------------------------------------------------------- *
 * login
 * ------------------------------------------------------- */
.sign{padding-bottom:30px;}
.sign .pic{
	width:461px;
	height:303px;
	margin-top:48px;
	margin-left:83px;
	_margin-left:30px; 
	float:left;
	position:relative;
}
.sign .pic #slides{
	width:461px;
	height:303px;
	overflow:hidden;
	z-index:99;
}
.sign .pic #slides li{
	width:461px;
	height:303px;
	overflow:hidden;
}
.sign .pic #pagination{
	position:absolute;
	bottom:10px;
	right:20px;
	z-index:100;
}
.sign .pic #pagination li{
	width:10px;
	height:10px;
	color:#fff;
	float:left;
	margin-right:5px;
	border-radius:50%;
	background:#999;
}
.sign .pic #pagination li.on, .sign .pic li:hover{
	background:#e4393c;
}

.sign .zi{ width:330px;float:right;margin:25px 20px 0 0;_margin-right:10px;border-radius:10px;background-color:#f5f5f5;color:#666;font-size:12px;}
.sign .zi h3{
	border-bottom:1px solid #dddddd;
	padding-left:20px;
	height:39px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	-moz-border-radius-topLeft:10px;
	-moz-border-radius-topRight:10px;
	background:-webkit-linear-gradient(top,#fcfcfc,#f5f5f5);
	font-size:14px;
	color:#999;
}
.sign .zi h3 span{line-height:45px;}
.sign .zi .huiyuan{position:relative;border-top:1px solid #fff;padding:20px; line-height:25px;}
.sign .zi .huiyuan .rblogo{display:block;position:absolute;right:-10px;bottom:-10px;_right:-10px;_bottom:30px;width:43px;height:43px;background: url("../../images/icon25.jpg") no-repeat;}
.sign .zi .ewbox{position:relative;margin-bottom:20px;height:42px;background-color:#fff;}
.sign .zi .ewbox i{position:absolute;display:inline-block;background: url("../../images/iconG11.png") no-repeat;}
.sign .zi .account i{left:10px;top:10px;width:21px;height:23px;background-position:0 0;}
.sign .zi .pw i{left:10px;top:10px;width:19px;height:23px;background-position:-32px 0;}
.sign .zi .ewbox span.right,
.sign .zi .ewbox span.wrong{position:absolute;display:inline-block;right:10px;top:15px;width:15px;height:15px;background: url("../../images/iconG05.jpg") no-repeat;}
.sign .zi .ewbox span.right{background-position:-65px -37px;}
.sign .zi .ewbox span.wrong{background-position:-89px -37px;}
.sign .zi .ewbox input{
	margin:0 20px 0 40px;
	width:200px;
	height:32px;
	border:0;
	padding:5px 0;
	line-height:32px;
	outline:none;
	color:#ccc;
}
.sign .zi .ewbox #pw2{color:#333;}
.sign .zi .logway_qq,
.sign .zi .logway_wx,
.sign .zi .logway_xl{display:inline-block;text-indent:-9999px;*margin:0 3px;overflow:hidden;}
.sign .zi .logway_qq{width:17px;height:18px;background:url(../../images/icon_qq.gif) no-repeat;}
.sign .zi .logway_wx{width:21px;height:18px;background:url(../../images/icon_wx.gif) no-repeat;}
.sign .zi .logway_xl{width:16px;height:14px;background:url(../../images/icon_xl.gif) no-repeat;}
.sign .zi .btn_login input{
	width: 290px;
	height: 36px;
	border: 0;
	background-color:#fc8e2a;
	line-height:36px;
	cursor:pointer;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	box-shadow:0 1px 1px 0 #8e4400;
}
.sign .zi .btn_login input.active{background-color:#ff9b41;box-shadow:0 1px 5px 0 #8e4400;}
.sign .zi ul li{display:inline;padding-left:8px;background:url(../../images/icon02.jpg) no-repeat left center;}
.sign .zi ul li a{color:#999;}
/* ------------------------------------------------------- *
 * register
 * ------------------------------------------------------- */
body.register .con .nr_l{
	margin-top:90px;
	margin-left:60px;
	_margin-left:30px; 
	float:left;
}
body.register .con .nr_r{ 
	float:right;
	width:310px;
	height:475px;
	background:url(../../images/safe/regbg.jpg) no-repeat;
	margin-top:40px;
	margin-right:80px;
	_margin-right:40px;
}
body.register .con .nr_r p{
	margin:435px 0 0 40px;
}
body.register .con .nr_r p a{
	color:#c00;
	text-decoration:underline;
}
body.register .box{
	padding-bottom:30px;
}
body.register .box strong{
	display:inline-block;
	width:100px;
	text-align:right;	
}
body.register .box .err{
	margin-left:105px;
	width:202px;
	border:1px solid #FFBDBE;
	padding:1px 5px;
	color:#E53001;
	background-color:#FFEBEC;
}
body.register .editbox{padding:6px;}
body.register .btn_register{
	background: url("../../images/mfzc.jpg") no-repeat;
	width: 244px;
	height: 36px;
	border: 0;
	cursor:pointer;
}
body.register .agreement_box{
	display:none;
	margin:10px 0;
	width:500px;
	border:#ddd solid 1px;
	color:#666;
}
body.register .agreement_box .inner{
	margin:10px;
	height:200px;
	overflow:auto;
}
body.register .agreement_box h3{
	padding:5px 0;
}
body.register .agreement_box p{
	margin-top:15px;	
}

/* ------------------------------------------------------- *
 * pwd_retrieve
 * ------------------------------------------------------- */
.pwd_retrieve dl{
	margin:50px auto;
	width:840px;
}
.pwd_retrieve dl dt{
	margin-bottom:50px;
	background-color:#EDEDED;
	_height:25px;
	overflow:hidden;
}
.pwd_retrieve dl dt strong{
	position:relative;
	display:block;
	float:left;
	width:160px;
	height:25px;
	padding-right:10px;
	font-weight:bold;
	color:#666;
	text-align:center;
	overflow:hidden;
	line-height:25px;
}
.pwd_retrieve dl dt strong.last{
	padding-right:0;	
}
.pwd_retrieve dl dt strong.on{
	background-color:#FFE6BD;
	color:#F15522;
}
.pwd_retrieve dl dt strong.off{
	background-color:#BBBBBB;
	color:#fff;
}
.pwd_retrieve dl dt strong i.iconG05{
	position:absolute;
	right:0;
	top:0;
	display:block;
}
.pwd_retrieve dl dd{
	margin-left:200px;	
}
.pwd_retrieve dl dd ul li em{
	font-size:14px;
	color:#666;
	font-style:normal;
}
.pwd_retrieve dl dd ul li .editbox{
	margin:0;
	padding:6px 5px;	
}
.pwd_retrieve dl dd .tip_info,
.pwd_retrieve dl dd .tip_err,
.pwd_retrieve dl dd .tip_pass{
}

/* ------------------------------------------------------- *
 * foot
 * ------------------------------------------------------- */
#foot{margin-top:10px;}
#foot a{font-size:12px;}
#foot .inner{
	margin:0 auto;
	width:984px;
	border-top:2px solid #cd2324;
	padding:15px 0;
	font-size:12px;
	line-height:20px;
}
#foot em{margin:0 5px; font-style:normal;}